@use "../abstracts" as *;

.footer {
  color: var(--contrast-color);
  background-color: var(--heading-color);
  .container {
    padding-block: toRem(95);
    @include breakpoint-xl-down {
      padding-block: toRem(40);
    }
    @include breakpoint-md-down {
      padding-block: toRem(20);
    }
  }

  &-head {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    align-items: center;
    justify-items: start;
    gap: toRem(35) toRem(16);
    margin-block-end: toRem(50);
    @include breakpoint-md-down {
      margin-block-end: toRem(30);
    }
  }

  &-contact {
    &-item {
      display: flex;
      align-items: center;
      gap: toRem(10);
    }

    &-link {
      .footer-contact-text {
        transition: color var(--transition-duration) var(--transition-timing-function);
      }

      @include hover {
        .footer-contact-text {
          color: var(--primary-color);
        }
      }
    }

    &-icon {
      display: inline-grid;
      place-content: center;
      flex-shrink: 0;
      width: toRem(68);
      height: toRem(68);
      color: var(--primary-color);
      border-radius: 50%;
      background-color: #4c4d52;
      @include breakpoint-xs-down {
        width: toRem(54);
        height: toRem(54);
      }
    }

    &-caption {
      margin-block-end: toRem(5);
      color: var(--contrast-color);
    }
  }

  &-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 2.5fr;
    align-items: start;
    gap: toRem(30);
    margin-block-end: toRem(25);
    padding-block: toRem(50);
    border-block: 1px solid var(--divider-color);
    @include breakpoint-lg-down {
      grid-template-columns: repeat(auto-fill, minmax(min(toRem(350), 100%), 1fr));
    }
    @include breakpoint-md-down {
      padding-block: toRem(30);
    }
  }

  &-nav {
    display: contents;
    &-list {
      display: contents;
    }

    &-title {
      margin-block-end: toRem(20);
      color: var(--primary-color);
    }

    &-link {
      padding-block: toRem(8);
      @include hover {
        color: var(--primary-color);
      }
    }
  }

  &-subscribe {
    padding: toRem(42) toRem(36);
    background-color: #474950;
    @include breakpoint-lg-down {
      padding: toRem(25);
    }

    &-title {
      margin-block-end: toRem(10);
      color: var(--contrast-color);
    }

    &-text {
      margin-block-end: toRem(16);
    }
  }

  &-tail {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: toRem(10) toRem(16);
    @include breakpoint-lg-down {
      flex-direction: column;
      align-items: center;
    }
  }

  &-copyright {
    text-align: center;
    a {
      font-weight: 500;
      color: var(--primary-color);
      @include hover {
        color: var(--secondary-color);
      }
    }
  }

  &-social {
    display: flex;
    align-items: start;
    gap: toRem(12);
  }
}
