@use '../abstracts' as *;

.achievement-card {
  padding-inline: toRem(10);
  text-align: center;
  @include breakpoint-xl-up {
    &:not(:last-child) {
      border-inline-end: 1px solid rgba(55, 57, 63, 0.1);
    }
  }

  &-icon {
    @include circle-icon(toRem(72));
    margin-block-end: toRem(20);
    color: var(--secondary-color);
    background-color: var(--light-color);
    box-shadow: 1px 0 20px rgba(0, 0, 0, 0.12);
  }

  &-number {
    margin-block-end: toRem(10);
    font-size: var(--text-size-4xl);
    font-weight: 700;
    line-height: 1.3;
    color: var(--primary-color);
    @include breakpoint-xs-down {
      font-size: var(--text-size-3xl);
    }
  }

  &-title {
    margin-block-end: toRem(12);
    font-size: var(--text-size-lg);
    font-weight: 600;
  }
}
