@use "../abstracts" as *;

.button {
	white-space: nowrap;
	padding: toRem(17) toRem(40);
	border: 2px solid;
	font-weight: 500;
	text-align: center;
	transition-property: color, background-color;
	@include breakpoint-sm-down {
		padding: toRem(17) toRem(25);
	}

	&-primary {
		color: var(--heading-color);
		border-color: var(--primary-color);
		background-color: var(--primary-color);
		@include hover {
			background-color: var(--contrast-color);
		}
	}

	&-secondary {
		color: var(--contrast-color);
		border-color: var(--secondary-color);
		background-color: var(--secondary-color);
		@include hover {
			color: var(--secondary-color);
			background-color: var(--contrast-color);
		}
	}

	&-dark {
		color: var(--contrast-color);
		border-color: var(--heading-color);
		background-color: var(--heading-color);
		@include hover {
			color: var(--heading-color);
			background-color: var(--contrast-color);
		}
	}

	&-large {
		padding: toRem(17) toRem(60);
	}
}
