@forward 'buttons';
@forward 'links';
@forward 'form';
@forward 'form-control';
@forward 'socials';
@forward 'dropdown-menu';
@forward 'hamburger-button';
@forward 'subscribe-form';
@forward 'play-button';
@forward 'points';
@forward 'service-card';
@forward 'metrics';
@forward 'progress-card';
@forward 'testimonial-card';
@forward 'blog-card';
@forward 'work-process-card';
@forward 'achievement-card';
@forward 'team-card';
