@use '../abstracts' as *;

.metrics {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  gap: toRem(28) toRem(16);
  @include breakpoint-xs-down {
    grid-template-columns: 1fr;
  }

  &-item {
    display: flex;
    align-items: start;
    column-gap: toRem(10);
  }

  &-title {
    font-weight: 400;
    &:not(:last-child) {
      margin-block-end: toRem(10);
    }
  }

  &-rating {
    color: #ffb342;
  }
}
