@use '../abstracts' as *;

.play-button {
  display: inline-flex;
  align-items: center;
  gap: toRem(10);
  color: var(--light-color);
  @include hover {
    .play-button {
      &-icon {
        background-color: var(--primary-color);
      }

      &-text {
        color: var(--primary-color);
      }
    }
  }

  &-icon {
    @include circle-icon(toRem(60));
    background-color: var(--secondary-color);
  }

  &-text {
    font-weight: 600;
    text-decoration: underline;
    transition: color var(--transition-duration)
      var(--transition-timing-function);
  }
}
