@use '../abstracts' as *;

.points {
  display: grid;
  row-gap: toRem(30);
  &-item {
    display: flex;
    align-items: start;
    column-gap: toRem(10);
    &-border {
      column-gap: toRem(15);
      padding: toRem(30);
      border: 1px solid #e3e3e3;
      @include breakpoint-xs-down {
        padding: toRem(20);
      }
    }
  }

  &-icon {
    &-primary {
      color: var(--primary-color);
    }

    &-secondary {
      color: var(--secondary-color);
    }
  }

  &-title {
    font-weight: 400;
    &-highlight {
      font-weight: 600;
    }

    &:not(:last-child) {
      margin-block-end: toRem(10);
    }
  }
}
