@use '../abstracts' as *;

.socials {
  display: flex;
  align-items: center;
  gap: toRem(16);
  &-link {
    vertical-align: middle;
    @include hover {
      color: var(--primary-color);
    }
  }
}
