@use "../abstracts" as *;

.social-bookmarks {
	display: flex;
	align-items: center;
	gap: toRem(16);
	a {
		vertical-align: middle;
		transition: color 0.2s ease-in-out;
		@media (any-hover: hover) {
			&:hover {
				color: var(--primary-color);
			}
		}
	}
}
