@use '../abstracts' as *;

.socials {
  display: flex;
  align-items: center;
  gap: toRem(16);
  &-link {
    vertical-align: middle;
    @include hover {
      color: var(--primary-color);
    }

    &-circle {
      @include circle-icon(toRem(50));
      color: var(--light-color);
      background-color: var(--primary-color);
      @include hover {
        background-color: var(--heading-color);
      }
    }
  }
}
