@use '../abstracts' as *;

.team-card {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0;
    background-color: rgba(107, 119, 229, 0.7);
    transition: opacity var(--transition-duration)
      var(--transition-timing-function);
  }

  @include hover {
    &::before,
    .team-card-socials {
      opacity: 1;
      visibility: visible;
    }
  }

  &-image {
    img {
      width: 100%;
    }
  }

  &-content {
    position: absolute;
    left: 0;
    bottom: 4%;
    width: 100%;
  }

  &-socials {
    justify-content: center;
    padding-block-end: toRem(100);
    opacity: 0;
    visibility: hidden;
    transition: opacity var(--transition-duration)
        var(--transition-timing-function),
      visibility var(--transition-duration) var(--transition-timing-function);
    @include breakpoint-xl-down {
      padding-block-end: toRem(70);
    }
  }

  &-details {
    margin-inline: toRem(20);
    padding: toRem(24) toRem(10);
    text-align: center;
    background-color: var(--light-color);
  }

  &-name {
    margin-block-end: toRem(4);
  }
}
