@use "../abstracts" as *;

.achievement {
	&-item {
		padding: toRem(30) toRem(30) toRem(30) toRem(80);
		border: 1px solid #e3e3e3;
		background: no-repeat toRem(30) toRem(30);
		@include breakpoint-xs-down {
			background: no-repeat toRem(20) toRem(15);
			padding: toRem(70) toRem(20) toRem(20);
		}
	}

	&-title {
		margin-block-end: toRem(8);
	}

	&-description {
		font-size: var(--text-size-sm);
	}
}
