@use "../abstracts" as *;

.footer {
  color: var(--contrast-color);
  background-color: var(--heading-color);
  .container {
    padding-block: toRem(95);
  }

  &-head {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: start;
    gap: toRem(16);
    margin-block-end: toRem(50);
  }

  &-contact {
    &-item {
      display: flex;
      align-items: center;
      gap: toRem(10);
    }

    &-link {
      .footer-contact-text {
        transition: color var(--transition-duration) var(--transition-timing-function);
      }

      @include hover {
        .footer-contact-text {
          color: var(--primary-color);
        }
      }
    }

    &-icon {
      display: inline-grid;
      place-content: center;
      width: toRem(68);
      height: toRem(68);
      color: var(--primary-color);
      border-radius: 50%;
      background-color: #4c4d52;
    }

    &-caption {
      margin-block-end: toRem(5);
      color: var(--contrast-color);
    }
  }

  &-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 2.5fr;
    align-items: start;
    gap: toRem(30);
    margin-block-end: toRem(25);
    padding-block: toRem(50);
    border-block: 1px solid var(--divider-color);
  }

  &-nav {
    display: contents;
    &-list {
      display: contents;
    }

    &-title {
      margin-block-end: toRem(20);
      color: var(--primary-color);
    }

    &-link {
      padding-block: toRem(8);
      @include hover {
        color: var(--primary-color);
      }
    }
  }

  &-subscribe {
    padding: toRem(42) toRem(36);
    background-color: #474950;
    &-title {
      margin-block-end: toRem(10);
      color: var(--contrast-color);
    }

    &-text {
      margin-block-end: toRem(16);
    }
  }

  &-tail {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: toRem(1);
  }

  &-copyright {
    a {
      font-weight: 500;
      color: var(--primary-color);
      @include hover {
        color: var(--secondary-color)
      }
    }
  }

  &-social {
    display: flex;
    align-items: start;
    gap: toRem(12);
  }
}
