@use "../abstracts" as *;

.home-project {
	&-section {
		padding-block: toRem(140);
		.container {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: toRem(20);
			margin-block-end: toRem(40);
			@include breakpoint-md-down {
				flex-direction: column;
				align-items: start;
			}
		}

		.section-head {
			margin-block-end: 0;
			@include breakpoint-md-up {
				max-width: toRem(500);
			}
		}
	}

	&-item {
		width: 100%;
		overflow: hidden;
		@include hover {
			img {
				scale: 1.1;
			}
		}

		img {
			width: 100%;
			scale: 1.01;
			transition: scale var(--transition-duration) var(--transition-timing-function);
		}
	}
}

.home-projects {
	display: flex;
	gap: toRem(20);
	padding-inline: var(--container-padding-x);
	@include breakpoint-md-down {
		flex-direction: column;
	}
}
