@use "../abstracts" as *;

.metrics {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: toRem(28) toRem(10);
	&-item {
		display: flex;
		align-items: start;
		column-gap: toRem(6);
		min-height: toRem(27);
		padding-inline-start: toRem(35);
		font-family: var(--font-family-secondary);
		font-size: var(--text-size-md);
		background: url("/icons/tick-circle-green.svg") no-repeat;
	}

	&-rating {
		display: flex;
		align-items: center;
		column-gap: toRem(4);
		color: #ffb342;
	}
}
