@use "../abstracts" as *;

.topbar {
	&-head {
		color: var(--contrast-color);
		background-color: var(--heading-color);
		.container {
			display: flex;
			align-items: center;
			justify-content: space-between;
      flex-wrap: wrap;
			gap: toRem(16);
			min-height: var(--topbar-head-height);
			padding-block: toRem(5);
      @include breakpoint-lg-down {
        display: none;
      }
		}
	}

	&-address,
	&-contacts {
		display: flex;
		align-items: center;
		gap: toRem(30);
	}

	&-address {
		&-item {
			display: inline-flex;
			align-items: center;
			column-gap: toRem(10);
			font-size: var(--text-size-xs);
			svg {
				color: var(--primary-color);
			}
		}

		&-item-link {
			transition: color 0.2s ease-in-out;
			@media (any-hover: hover) {
				&:hover {
					color: var(--primary-color);
				}
			}
		}
	}

	&-body {
		.container {
			display: flex;
			align-items: center;
      justify-content: space-between;
			column-gap: toRem(40);
			min-height: var(--topbar-body-height);
			padding-block: toRem(5);
      @include breakpoint-xl-down {
        column-gap: toRem(24);
      }
		}
	}

  &-brand {
    flex-shrink: 0;
    @include breakpoint-lg-down {
      width: toRem(180);
    }

    @include breakpoint-sm-down {
      width: toRem(42);
      overflow: hidden;
      img {
        max-width: unset;
      }
    }
  }

	&-nav {
		flex-grow: 1;
    @include breakpoint-lg-down {
      display: flex;
      align-items: center;
      justify-content: safe center;
      flex-direction: column;
      position: fixed;
      inset: var(--topbar-body-height) 0 0;
      translate: 100% 0;
      padding: toRem(20);
      border-block-start: 1px solid var(--paragraph-color);
      overflow-y: auto;
      text-align: center;
      background-color: var(--background-color);
      transition: translate 0.2s ease-in-out;
      .menu-open & {
        translate: 0;
      }
    }
	}

  &-actions {
    display: flex;
    align-items: center;
    gap: toRem(10);
    @include breakpoint-lg-down {
      .button {
        padding: toRem(16) toRem(20);
      }
    }
  }
}

.nav {
	&-list {
		display: flex;
		align-items: center;
		justify-content: end;
		flex-wrap: wrap;
		gap: toRem(8) toRem(40);
		color: var(--heading-color);
    @include breakpoint-xl-down {
      gap: toRem(8) toRem(24);
    }

    @include breakpoint-lg-down {
      flex-direction: column;
      font-size: var(--text-size-lg);
    }
	}

	&-link {
		padding-block: toRem(10);
		&-dropdown {
			display: inline-flex;
			align-items: center;
			column-gap: toRem(6);
			svg {
				margin-block-start: toRem(2);
			}
		}
	}
}

.nav-link,
.dropdown-menu-link {
	transition: color 0.2s ease-in-out;
	@media (any-hover: hover) {
		&:hover {
			color: var(--secondary-color);
		}
	}

	&.current {
		color: var(--secondary-color);
		pointer-events: none;
	}
}
