@use "../abstracts" as *;

.welcome {
	&-section {
		display: grid;
		grid-template-columns: 0.8fr 1fr;
		@include breakpoint-md-down {
			grid-template-columns: 1fr;
		}
	}

	&-intro {
		padding: toRem(140) toRem(60) toRem(140) toRem(310);
		background-color: var(--background-color);
		@include breakpoint-xxl-down {
			padding: toRem(100) toRem(60) toRem(100) toRem(100);
		}

		@include breakpoint-xl-down {
			padding: toRem(40) var(--container-padding-x);
		}

		&-image,
		&-description {
			margin-block-end: toRem(20);
		}

		&-title {
			margin-block-end: toRem(15);
		}
	}

	&-body {
		padding: toRem(140) toRem(270) toRem(140) toRem(40);
		@include breakpoint-xxl-down {
			padding: toRem(100) toRem(40);
		}

		@include breakpoint-xl-down {
			padding: toRem(40) var(--container-padding-x);
		}

		.section-head {
			max-width: toRem(670);
			margin-block-end: toRem(30);
		}
	}

	&-title {
		margin-block-end: toRem(20);
	}

	&-points,
	&-achievements {
		margin-block-end: toRem(40);
		@include breakpoint-xl-down {
			margin-block-end: toRem(30);
		}
	}

	&-achievements {
		@include breakpoint-lg-down {
			flex-direction: column;
		}
	}
}
