@mixin visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

@mixin icon-circle($size) {
  display: inline-grid;
  place-content: center;
  flex-shrink: 0;
  width: $size;
  height: $size;
  border-radius: 50%;
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}
