@use "../abstracts" as *;

.blog {
	&-section {
		padding-block: toRem(140) toRem(60);
		@include breakpoint-xl-down {
			padding-block: toRem(80) toRem(40);
		}

		@include breakpoint-md-down {
			padding-block: toRem(40) toRem(20);
		}
	}

	&-head {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 1.25rem;
		margin-block-end: 2.5rem;
		.section-head {
			margin-block-end: 0;
		}
	}

	&-list {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(min(toRem(400), 100%), 1fr));
		gap: toRem(40) toRem(30);
	}
}
