@use '../abstracts' as *;

.companies-section {
  padding-block-start: toRem(100);
  @include breakpoint-xl-down {
    padding-block-start: toRem(60);
  }

  @include breakpoint-md-down {
    padding-block-start: toRem(40);
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: toRem(40) toRem(30);
    @include breakpoint-xs-down {
      flex-direction: column;
    }
  }
}
