@use '../abstracts' as *;

.cta {
  &-section {
    padding-block: toRem(60) toRem(140);
    .container {
      position: relative;
      isolation: isolate;
      padding: toRem(100) toRem(60);
      text-align: center;
      background: var(--primary-color) url('/images/cta-background-image.jpg')
        center / cover no-repeat;
      &::before {
        content: '';
        position: absolute;
        inset: 0;
        z-index: -1;
        backdrop-filter: blur(toRem(6));
        background-color: rgba(64, 221, 182, 0.75);
      }
    }

    .section-head {
      margin-inline: auto;
      margin-block-end: toRem(40);
    }

    @include breakpoint-lg-up {
      .section-head {
        max-width: toRem(700);
      }
    }

    @include breakpoint-xl-down {
      padding-block: toRem(40) toRem(80);
    }

    @include breakpoint-lg-down {
      .container {
        padding: toRem(80) toRem(40);
      }
    }

    @include breakpoint-md-down {
      padding-block: toRem(20) toRem(40);
      .container {
        padding: toRem(60) toRem(20);
      }
    }

    @include breakpoint-xs-down {
      .container {
        padding: toRem(40) toRem(20);
      }
    }
  }
}
