@use "../abstracts" as *;

.expert {
	&-section {
		padding-block: toRem(220);
		background: url("/images/expert-image.jpg") center / cover no-repeat;
	}

	&-title {
		text-align: center;
		color: var(--contrast-color);
	}

	&-link {
		padding: toRem(87) toRem(130);
		background-color: rgba(55, 57, 63, 0.8);
		backdrop-filter: blur(toRem(10));
		transition: background-color var(--transition-duration) var(--transition-timing-function);
		@include hover {
			background-color: var(--primary-color);
		}
	}
}
