@use '../abstracts' as *;

.hero {
  &-section {
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    @include breakpoint-2xl-down {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint-lg-down {
      grid-template-columns: 1fr;
    }
  }

  &-body {
    padding: toRem(140) toRem(60);
    backdrop-filter: blur(toRem(10));
    background-color: rgba(55, 57, 63, 0.91);
    @include breakpoint-2xl-down {
      padding: toRem(120) toRem(30);
    }

    @include breakpoint-xl-down {
      padding: toRem(80) var(--container-padding-x);
    }

    @include breakpoint-md-down {
      padding: toRem(40) var(--container-padding-x);
    }
  }

  &-description {
    font-weight: 500;
    color: #b9b9b9;
    &:not(:last-child) {
      margin-block-end: toRem(35);
      @include breakpoint-xs-down {
        margin-block-end: toRem(20);
      }
    }
  }

  &-actions {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: toRem(30);
    @include breakpoint-sm-down {
      gap: toRem(20) toRem(16);
    }
  }
}
