@forward 'hero';
@forward 'welcome';
@forward 'companies';
@forward 'services';
@forward 'home-project';
@forward 'home-why-choose';
@forward 'testimonials';
@forward 'how-we-work';
@forward 'expert';
@forward 'blog';
@forward 'cta';
@forward 'work-process';
@forward 'achievements';
@forward 'video';
@forward 'team';
@forward 'we-offer';
@forward 'why-choose';
