@use '../abstracts' as *;

.service-single {
  &-body {
    padding-block: toRem(140);
    @include breakpoint-lg-down {
      padding-block: toRem(80);
    }

    @include breakpoint-md-down {
      padding-block: toRem(40);
    }

    .container {
      display: grid;
      grid-template-columns: 0.5fr 1fr;
      gap: toRem(30);
    }
  }

  &-image {
    margin-block-end: toRem(40);
  }

  &-title {
    margin-block-end: toRem(10);
    &-highlight {
      color: var(--secondary-color);
    }
  }

  &-description {
    margin-block-end: toRem(40);
  }

  &-benefits {
    &-section {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: toRem(30);
      .service-single-title-highlight {
        margin-block-end: toRem(20);
        color: var(--primary-color);
      }
    }

    &-image {
      img {
        width: 100%;
      }
    }
  }
}

.service-sidebar {
  &-services-block,
  &-download-block {
    margin-block-end: toRem(50);
    padding: toRem(50) toRem(30);
    background-color: var(--background-color);
  }

  &-title {
    margin-block-end: toRem(20);
  }

  &-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: toRem(10);
    padding: toRem(15) toRem(20);
    font-size: var(--text-size-md);
    color: var(--heading-color);
    transition-property: color, background-color;
    @include hover {
      color: var(--light-color);
      background-color: var(--secondary-color);
    }
  }

  &-download {
    &-content {
      padding-block-start: toRem(20);
      border-block-start: 2px solid var(--heading-color);
    }

    &-description {
      margin-block-end: toRem(30);
    }

    &-links {
      display: grid;
      row-gap: toRem(20);
    }

    &-link {
      display: flex;
      align-items: center;
      column-gap: toRem(20);
      padding: toRem(15) toRem(30);
      font-weight: 500;
      color: var(--light-color);
      background-color: var(--secondary-color);
      transition-property: background-color;
      @include hover {
        background-color: var(--primary-color);
      }
    }
  }

  &-cta {
    &-block {
      position: relative;
      isolation: isolate;
      padding: toRem(70) toRem(40) toRem(60);
      text-align: center;
      background: var(--primary-color)
        url('/images/service-cta-background-image.jpg') center / cover no-repeat;
      &::before {
        content: '';
        position: absolute;
        inset: 0;
        z-index: -1;
        backdrop-filter: blur(toRem(6));
        background-color: rgba(64, 221, 182, 0.75);
      }

      .section-head {
        margin-block-end: toRem(30);
      }
    }
  }
}
