@use '../abstracts' as *;

.team {
  &-section {
    padding-block: toRem(140);
    @include breakpoint-xl-down {
      padding-block: toRem(80);
    }

    @include breakpoint-md-down {
      padding-block: toRem(40);
    }

    .section-head {
      margin-block-end: toRem(40);
    }
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(min(toRem(300), 100%), 1fr)
    );
    gap: toRem(30);
  }
}
