@use '../abstracts' as *;

.container {
  width: min(
    var(--container-max-width),
    100% - (var(--container-padding-x) * 2)
  );
  margin-inline: auto;
}

.visually-hidden {
  @include visually-hidden;
}

.stretched-link {
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 1;
  }
}

.section-head {
  &:not(:last-child) {
    margin-block-end: toRem(20);
  }

  &-light {
    color: var(--light-color);
    .section-head {
      &-subtitle,
      &-title {
        color: var(--light-color);
      }
    }
  }

  &-dark {
    color: var(--heading-color);
  }

  &-center {
    max-width: toRem(800);
    margin-inline: auto;
    text-align: center;
  }

  &-subtitle {
    margin-block-end: toRem(16);
    font-weight: 500;
    color: var(--heading-color);
    @include breakpoint-xs-down {
      font-size: var(--text-size-sm);
    }
  }

  &-title {
    &:not(:last-child) {
      margin-block-end: toRem(20);
    }
  }
}

.box {
  display: inline-flex;
  align-items: center;
  column-gap: toRem(6);
  &::before {
    content: '';
    width: toRem(12);
    height: toRem(12);
    flex: 0 0 toRem(12);
  }

  &-primary::before {
    background-color: var(--primary-color);
  }

  &-secondary::before {
    background-color: var(--secondary-color);
  }
}
