@use "abstracts" as *;

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-primary);
  font-size: var(--text-size-base);
  letter-spacing: toEm(0.32);
  color: var(--paragraph-color);
  background-color: var(--contrast-color);
  &.prevent-scroll {
    overflow: hidden;
    overscroll-behavior: none;
    touch-action: none;
  }
}

main {
  flex-grow: 1;
}

button, a {
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

a {
  transition-property: color;
}
