*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  padding: 0;
}

html {
  &:focus-within {
    scroll-behavior: smooth;
  }
}

body {
  min-height: 100dvh;
  margin: 0;
  overflow-x: hidden;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:where(h1, h2, h3, h4, h5, h6)[class] {
  margin-block: 0;
}

p {
  --paragraph-margin-bottom: 10px;

  margin-block: 0;
}

:where(p:not([class])):not(:last-child) {
  margin-block-end: var(--paragraph-margin-bottom);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

:where(ol, ul, li)[class] {
  margin: 0;
  padding: 0;
  list-style: none;
}

:where(dl)[class] {
  margin-block: 0;
}

:where(dd)[class] {
  margin-inline-start: 0;
}

a {
  display: inline-flex;
  text-decoration: none;
  color: inherit;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

img {
  font-style: italic;
}

svg {
  flex: 0 0 auto;
  vertical-align: middle;
}

:where(blockquote, figure, fieldset) {
  margin: 0;
}

:where(fieldset)[class] {
  padding: 0;
  border: none;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

input,
textarea,
select,
button {
  font: inherit;
  color: inherit;
}

:where(address)[class] {
  font-style: normal;
}

:where(small)[class] {
  font-size: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
