@use "abstracts" as *;

h1,
h2,
h3,
h4,
h5,
h6,
.heading-1,
.heading-2,
.heading-3,
.heading-4,
.heading-5,
.heading-6 {
	font-family: var(--font-family-secondary);
	line-height: 1.3;
	color: var(--heading-color);
}

h1,
h2,
h3,
.heading-1,
.heading-2,
.heading-3 {
	font-weight: 700;
}

h4,
h5,
h6,
.heading-4,
.heading-5,
.heading-6 {
	font-weight: 600;
}

h1,
.heading-1 {
	font-size: var(--text-size-6xl);
	line-height: 1.1;
	@include breakpoint-xl-down {
		font-size: var(--text-size-5xl);
	}

	@include breakpoint-md-down {
		font-size: var(--text-size-4xl);
	}

	@include breakpoint-xs-down {
		font-size: var(--text-size-3xl);
	}
}

h2,
.heading-2 {
	font-size: var(--text-size-4xl);
	line-height: 1.2;
	@include breakpoint-lg-down {
		font-size: var(--text-size-3xl);
	}

	@include breakpoint-xs-down {
		font-size: var(--text-size-2xl);
	}
}

h3,
.heading-3 {
	font-size: var(--text-size-3xl);
}

h4,
.heading-4 {
	font-size: var(--text-size-2xl);
	@include breakpoint-xs-down {
		font-size: var(--text-size-xl);
	}
}

h5,
.heading-5 {
	font-size: var(--text-size-xl);
	@include breakpoint-xs-down {
		font-size: var(--text-size-lg);
	}
}

h6,
.heading-6 {
	font-size: var(--text-size-md);
	@include breakpoint-xs-down {
		font-size: var(--text-size-base);
	}
}
