@use "abstracts" as *;

.container {
  width: min(var(--container-max-width), 100% - (var(--container-padding-x) * 2));
  margin-inline: auto;
}

.visually-hidden {
  @include visually-hidden;
}

.section-head {
  &:not(:last-child) {
    margin-block-end: toRem(20);
  }

  .subheading {
    margin-block-end: toRem(16);
  }
}

.box {
  display: inline-flex;
  align-items: center;
  column-gap: toRem(6);
  &::before {
    content: "";
    width: toRem(12);
    height: toRem(12);
    flex: 0 0 toRem(12);
  }

  &-primary::before {
    background-color: var(--primary-color);
  }

  &-secondary::before {
    background-color: var(--secondary-color);
  }
}

.link-cta {
  font-weight: 600;
  &-primary {
    color: var(--primary-color);
  }

  &-secondary {
    color: var(--secondary-color);
  }

  &-dark {
    color: var(--heading-color);
    @media (any-hover: hover) {
      &:hover {
        color: var(--secondary-color);
      }
    }
  }

  &-underline {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: toRem(2);
      background-color: currentColor;
      transition: width var(--transition-duration) var(--transition-timing-function);
    }

    @media (any-hover: hover) {
      &:hover {
        &::before {
          width: 0;
        }
      }
    }
  }
}
