@use 'abstracts' as *;

:root {
  --primary-color: #40ddb6;
  --secondary-color: #6b78e5;
  --contrast-color: #ffffff;
  --heading-color: #37393f;
  --paragraph-color: #7d7d7d;
  --background-color: #f4f4f4;
  --divider-color: #6c6d72;

  --font-family-primary: 'Inter', sans-serif;
  --font-family-secondary: 'Poppins', sans-serif;

  --text-size-xs: #{toRem(14)};
  --text-size-sm: #{toRem(16)};
  --text-size-base: #{toRem(18)};
  --text-size-md: #{toRem(20)};
  --text-size-lg: #{toRem(22)};
  --text-size-xl: #{toRem(25)};
  --text-size-2xl: #{toRem(30)};
  --text-size-3xl: #{toRem(35)};
  --text-size-4xl: #{toRem(40)};
  --text-size-5xl: #{toRem(48)};
  --text-size-6xl: #{toRem(60)};

  --topbar-zindex: 1045;
  --dropdown-zindex: 1000;

  --transition-duration: 0.2s;
  --transition-timing-function: ease-in-out;

  --container-max-width: #{toRem(1220)};
  --container-padding-x: #{toRem(16)};

  --topbar-head-height: #{toRem(60)};
  --topbar-body-height: #{toRem(130)};

  @include breakpoint-lg-down {
    --topbar-head-height: #{toRem(80)};
    --topbar-body-height: #{toRem(80)};
  }
}
